[Unit]
Description=A small mail server for developers

[Service]
ExecStart=/usr/local/bin/devmail --pop3 1110 --smtp 2525

[Install]
WantedBy=default.target
